/*-- scss:defaults --*/

$body-bg: #F9F7F2;
$link-color: #e10020;
$currentColor: orange;
$presentation-font-size-root: 26px;
$heading2Size: 52px;
$heading3Size: 45px;
$heading4Size: 35px;

/* ---
I would love to be able to use _brand.yml colours here but I get a theme compilation error
So instead we have duplicated the colours
---*/

$brand-brand-blue: #3172AD;
$brand-rag-green: #06402B;
$brand-rag-red: #B33134;
$brand-graph-primary: #30CED1;
$brand-graph-tertiary-darker: #105052;
$brand-graph-tertiary-lighter: #1E8F91;
$brand-graph-tertiary: #1B8385;
$brand-graph-secondary: #D13BA4;
$brand-plot-primary: #E0BE36;
$brand-plot-tertiary-darker: #615216;
$brand-plot-tertiary-lighter: #A18826;
$brand-plot-tertiary: #947A14;
$brand-plot-secondary: #4CE0D0;
$brand-chart-primary: #FA8A5B;
$brand-chart-tertiary-darker: #80452E;
$brand-chart-tertiary-lighter: #C06845;
$brand-chart-tertiary: #B3542F;
$brand-chart-secondary: #A7FF75;
$brand-story-primary: #EB526F;
$brand-story-tertiary-darker: #6B2332;
$brand-story-tertiary-lighter: #AA3D4F;
$brand-story-tertiary: #9E283D;
$brand-story-secondary: #EBE46A;
$brand-other-primary: #D8F794;
$brand-other-tertiary-darker: #697847;
$brand-other-tertiary-lighter: #A1B86D;
$brand-other-tertiary: #90AB55;
$brand-other-secondary: #AEC6F8;
$brand-grey-dark: #656370;
$brand-grey-mid: #BBBBBD;
$brand-grey-light: #DCDCDE;
$brand-ux-blue-mid: #4464AD;
$brand-ux-blue-dark: #2A3E6E;
$brand-ux-blue-light: #6B8EF3;
$brand-black-mid: #4F4F4F;
$brand-black-dark: #3B3B3B;
$brand-neutral: #F9F7F1;


// $body-color: #212529;
// $font-family-sans-serif: Karla;


// /*-- scss:rules --*/

#title-slide, .p{
   text-align: right;
}


#title-slide, h1, h2{
   text-align: left;
}

#title-slide {
  color: #F9F7F3 !important;

  h1, h2, h3, p, span {
    color: #F9F7F3 !important;
  }
}

.reveal .backgrounds .slide-background:first-child .slide-background-content {
  background-color: #DA5D71 !important;
}


/* || Quote style */

.quote-graph {
    color: $brand-graph-tertiary-darker !important;
    border-left: .25rem solid $brand-graph-primary !important;
}

.quote-plot {
    color: $brand-plot-tertiary-darker !important;
    border-left: .25rem solid $brand-plot-primary !important;
}

.quote-chart {
    color: $brand-chart-tertiary-darker !important;
    border-left: .25rem solid $brand-chart-primary !important;
}

.quote-story {
    color: $brand-story-tertiary-darker !important;
    border-left: .25rem solid $brand-story-primary !important;
}

.quote-story-alt {
    color: $brand-story-primary !important;
    border-left: .25rem solid $brand-story-tertiary-darker !important;
}

.gpcds-title-slide {

  .slide-background-content{
  background-color: $brand-story-primary
  }

  * {
    color: $brand-neutral;
  }

  a {
    color: $brand-graph-tertiary-darker !important;
  }

}

.task-icon {
  counter-reset: count;
  position: fixed; top: -30px; right: -30px;
  font-size: 3rem;

  i {
    color: $brand-story-primary !important;
  }

/*  p::after{
    font-size: 2rem;
    content: counter(count)".";
    counter-increment: count;
  }
*/
}

.section-arrow{
  position: fixed; bottom: 0px; right: 0px;
  font-size: 100px;
}

.center-v {
    display:flex;
    justify-content:center;
    align-items:center;
  }


.reveal .progress {
    color: $brand-story-primary !important;
    height: 0.5%;
}

.reveal .footer {
    color: #ffffff;
    background-color: $brand-black-mid;
    display: block;
    position: fixed;
    font-family: Futura;
    padding-bottom: clamp(10px, 2vh, 600px);
    padding-top: clamp(10px, 1vh, 600px);
    bottom: 0px !important; // Makes footer div flush with bottom of slide
    width: 100%;
    z-index: 2 !important; // Sets the footer div further down the z-index
  }

.de-emphasis {
    opacity: 0.5;
  }

.center-x{
    text-align: center;
}

.slide-number::before {
   content: "📽️ ";
}

.task-slide-count {
  color:purple;
  margin-top:10px
}


.small{font-size: 80%}

.subheading {
  color: #535353;
  font-size: 45px;;
}

.footnote{
  font-size: 60%;
  width: 100%;
}

.big-note{
  font-family: 'Open Sans', sans-serif;
    color: #535353;
    line-height: -10px;
    font-size: 32px
}

.v-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

@mixin background-full {
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  }


  .theme-title1 {
    &:is(.slide-background) {
      background-image: url('../../../../../assets/gpcds-wide-banner.png');
      @include background-full;
    }

    h2 {
      text-align: center;
      font-size: 3em;
    }
    h3 {
      color: $brand-brand-blue;
      text-align: center;
      font-size: 2em;
    }
  }

/* Dataviz specific classes */

.graph-slide {
    color: $brand-graph-tertiary-darker;
  h1, h2, h3 {
    color: $brand-graph-tertiary-darker !important;
  }

  a {
    color: $brand-graph-tertiary-lighter !important;
  }

}

.graph-title-slide {

  .slide-background-content{
  background-color: $brand-graph-tertiary-darker
  }

    color: $brand-neutral;
  h1, h2, h3 {
    color: $brand-neutral !important;
    font-size: var(--r-heading1-size) !important;
  }

  a {
    color: $brand-graph-primary !important;
  }

  code {
    background-color: $brand-neutral !important;
  }

}

.plot-slide {
    color: $brand-plot-tertiary-darker;
  h1, h2, h3 {
    color: $brand-plot-tertiary-darker !important;
  }

  a {
    color: $brand-plot-tertiary-lighter !important;
  }

}

.plot-title-slide {

  .slide-background-content{
  background-color: $brand-plot-tertiary-darker
  }

    color: $brand-neutral;
  h1, h2, h3 {
    color: $brand-neutral !important;
    font-size: var(--r-heading1-size) !important;
  }

  a {
    color: $brand-plot-primary !important;
  }

  code {
    background-color: $brand-neutral !important;
  }

}

.chart-slide {
    color: $brand-chart-tertiary-darker;
  h1, h2, h3 {
    color: $brand-chart-tertiary-darker !important;
  }

  a {
    color: $brand-chart-tertiary-lighter !important;
  }

}

.chart-title-slide {

  .slide-background-content{
  background-color: $brand-chart-tertiary-darker
  }

    color: $brand-neutral;
  h1, h2, h3 {
    color: $brand-neutral !important;
    font-size: var(--r-heading1-size) !important;
  }

  a {
    color: $brand-chart-tertiary-darker !important;
  }

  code {
    background-color: $brand-neutral !important;
  }

}


.story-slide {
    color: $brand-story-tertiary-darker;
  h1, h2, h3 {
    color: $brand-story-primary !important;
  }

  a {
    color: $brand-story-tertiary-lighter !important;
  }

}

.story-title-slide {

  .slide-background-content{
  background-color: $brand-story-tertiary-darker
  }

    color: $brand-neutral;
  h1, h2, h3 {
    color: $brand-neutral !important;
    font-size: var(--r-heading1-size) !important;
  }

  a {
    color: $brand-story-primary !important;
  }

  code {
    background-color: $brand-neutral !important;
  }

}

.other-slide {
  color: $brand-other-tertiary-darker;
h1, h2, h3 {
  color: $brand-other-tertiary-darker !important;
}

a {
  color: $brand-other-tertiary-lighter !important;
}

}

/* ---- CARDS ------ */

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  border: 1px solid #999999;
  width: fit-content;
  padding: 0.5rem;
}

.card-attribution {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  border: 1px solid #999999;
  width: fit-content;
  padding: 0.5rem;
  position: static; bottom: 0%; left: 0%;
  font-size: 1rem;
  line-height: 1rem;
  margin-top: 0px;

    p {
      margin-top: 0px !important;
      margin-bottom: 0px !important;
    }

}

